<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:annotation-config />

	<bean id="zamn" class="zamn.Zamn">
		<property name="eventContext" ref="eventContext" />
		<property name="gameScreen" ref="gameScreen" />
		<property name="gameOverMenu" ref="gameOverMenu" />
		<property name="gameWonMenu" ref="gameWonMenu" />
		<property name="mainMenu" ref="mainMenu" />
		<property name="systemMenu" ref="systemMenu" />
		<property name="windowSize" ref="windowSize" />
		<property name="inGameMenuLayer" ref="inGameMenuLayer" />
		<property name="critterMenuFactory">
			<bean class="zamn.ui.menu.CritterMenuFactory">
				<constructor-arg ref="eventContext" />
				<property name="targetedMoveFactory">
					<bean class="zamn.creation.TargetedMoveFactory">
						<constructor-arg value="classpath:definitions/moves.js" />
						<constructor-arg ref="objectMapper" />
						<constructor-arg ref="eventContext" />
					</bean>
				</property>
			</bean>
		</property>
		<property name="board" ref="board" />
		<property name="gameInterface" ref="gameInterface" />
		<property name="mapEditor" ref="mapEditor" />
		<property name="messageLayer" ref="messageLayer" />
		<property name="youDiedSound" value="classpath:sounds/you_died.wav" />
		<property name="youWinSound" value="classpath:sounds/you_win.wav" />
		<property name="critterDeathSound" value="classpath:sounds/critter_death.wav" />
	</bean>

	<bean id="gameScreen" class="zamn.ui.GameScreen">
		<constructor-arg ref="eventContext" />
		<constructor-arg>
			<bean class="zamn.ui.GameLayeredPane">
				<constructor-arg>
					<list>
						<ref bean="board" />
						<ref bean="inGameMenuLayer" />
						<ref bean="messageLayer" />
					</list>
				</constructor-arg>
			</bean>
		</constructor-arg>
		<constructor-arg ref="gameInterface" />
		<constructor-arg ref="spriteSize" />
		<constructor-arg value="0.8" />
	</bean>

	<bean id="inGameMenuLayer" class="zamn.ui.InGameMenuLayer" />
	
	<bean id="messageLayer" class="zamn.ui.MessageLayer" />

	<bean id="gameInterface" class="zamn.ui.GameInterface">
		<constructor-arg ref="eventContext" />
	</bean>

	<bean id="board" class="zamn.board.GameBoard">
		<constructor-arg ref="eventContext" />
		<property name="spriteSize" ref="spriteSize" />
		<property name="boardLoader">
			<bean class="zamn.creation.board.GameBoardLoader">
				<constructor-arg ref="eventContext" />
				<property name="objectMapper" ref="objectMapper" />
				<property name="critterFactory" ref="critterFactory" />
				<property name="decorationFactory" ref="decorationFactory" />
				<property name="tileFactory" ref="tileFactory" />
			</bean>
		</property>
		<property name="critterFactory" ref="critterFactory" />
		<property name="boardUriResolver">
			<bean class="zamn.board.ClassPathBoardUriResolver" />
		</property>
		<property name="initialHeroDefinition">
			<bean class="zamn.creation.board.CritterDefinition">
				<property name="hostile" value="false" />
				<property name="coords">
					<array>
						<value>1</value>
						<value>1</value>
					</array>
				</property>
				<property name="spriteId" value="0_1" />
				<property name="stats">
					<map>
						<entry key="HP" value="20" />
						<entry key="MAXHP" value="20" />
						<entry key="SPEED" value="4" />
					</map>
				</property>
				<property name="talents">
					<array>
						<value>fire_bomb</value>
						<value>throw_rock</value>
					</array>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="mainMenu" class="zamn.ui.menu.Menu">
		<property name="items">
			<list>
				<bean parent="eventMenuItem">
					<property name="text" value="Start game" />
					<property name="type">
						<util:constant
							static-field="zamn.framework.event.GameEventContext.GameEventType.NEW_GAME_REQUEST" />
					</property>
				</bean>
				<bean parent="eventMenuItem">
					<property name="text" value="Map editor" />
					<property name="type">
						<util:constant
							static-field="zamn.framework.event.GameEventContext.GameEventType.MAP_EDITOR_REQUEST" />
					</property>
				</bean>
				<bean parent="eventMenuItem">
					<property name="text" value="Exit" />
					<property name="type">
						<util:constant
							static-field="zamn.framework.event.GameEventContext.GameEventType.EXIT_GAME_REQUEST" />
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<bean id="gameOverMenu" class="zamn.ui.menu.Menu">
		<property name="items">
			<list>
				<bean parent="eventMenuItem">
					<property name="text" value="You died" />
					<property name="type">
						<util:constant
							static-field="zamn.framework.event.GameEventContext.GameEventType.MAIN_MENU_REQUEST" />
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<bean id="gameWonMenu" class="zamn.ui.menu.Menu">
		<property name="items">
			<list>
				<bean parent="eventMenuItem">
					<property name="text" value="You win" />
					<property name="type">
						<util:constant
							static-field="zamn.framework.event.GameEventContext.GameEventType.MAIN_MENU_REQUEST" />
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<bean id="systemMenu" class="zamn.ui.menu.Menu">
		<property name="items">
			<list>
				<bean parent="eventMenuItem">
					<property name="text" value="Return to game" />
					<property name="type">
						<util:constant
							static-field="zamn.framework.event.GameEventContext.GameEventType.RETURN_TO_GAME_REQUEST" />
					</property>
				</bean>
				<bean parent="eventMenuItem">
					<property name="text" value="Main menu" />
					<property name="type">
						<util:constant
							static-field="zamn.framework.event.GameEventContext.GameEventType.MAIN_MENU_REQUEST" />
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<bean id="eventContext" class="zamn.framework.event.GameEventContext" />
	<bean id="windowSize" class="java.awt.Dimension">
		<constructor-arg value="320" />
		<constructor-arg value="256" />
	</bean>
	<bean id="spriteSize" class="java.awt.Dimension">
		<constructor-arg value="32" />
		<constructor-arg value="32" />
	</bean>
	<bean id="eventMenuItem" class="zamn.ui.menu.EventMenuItem"
		abstract="true">
		<property name="eventContext" ref="eventContext" />
	</bean>
	<bean id="objectMapper" class="org.codehaus.jackson.map.ObjectMapper" />

	<bean id="critterFactory" class="zamn.creation.board.CritterFactory">
		<constructor-arg ref="objectMapper" />
		<constructor-arg value="classpath:sprites/critters.js" />
		<property name="spriteSize" ref="spriteSize" />
	</bean>

	<bean id="mapEditor" class="zamn.mapeditor.MapEditor">
		<property name="board" ref="mapEditorBoard" />
		<property name="tilePalette">
			<bean class="zamn.mapeditor.MapEditorPalette">
				<constructor-arg ref="tileFactory" />
				<constructor-arg ref="spriteSize" />
			</bean>
		</property>
		<property name="decorationPalette">
			<bean class="zamn.mapeditor.MapEditorPalette">
				<constructor-arg ref="decorationFactory" />
				<constructor-arg ref="spriteSize" />
			</bean>
		</property>
		<property name="critterPalette">
			<bean class="zamn.mapeditor.MapEditorPalette">
				<constructor-arg ref="critterFactory" />
				<constructor-arg ref="spriteSize" />
			</bean>
		</property>
		<property name="paletteSize">
			<bean class="java.awt.Dimension">
				<constructor-arg value="256" />
				<constructor-arg value="256" />
			</bean>
		</property>
		<property name="boardSerializer">
			<bean class="zamn.creation.board.BoardSerializer">
				<constructor-arg ref="objectMapper" />
			</bean>
		</property>
		<property name="tileFactory" ref="tileFactory" />
		<property name="firstBoardResource" value="classpath:/boards/goStraight.js" />
	</bean>

	<bean id="mapEditorBoard" class="zamn.mapeditor.MapEditorBoard">
		<property name="boardLoader">
			<bean class="zamn.creation.board.BoardLoader">
				<property name="objectMapper" ref="objectMapper" />
				<property name="critterFactory" ref="critterFactory" />
				<property name="decorationFactory" ref="decorationFactory" />
				<property name="tileFactory" ref="tileFactory" />
			</bean>
		</property>
		<property name="spriteSize" ref="spriteSize" />
	</bean>

	<bean id="tileFactory" class="zamn.creation.board.TileFactory">
		<constructor-arg ref="objectMapper" />
		<constructor-arg value="classpath:sprites/tiles.js" />
		<property name="spriteSize" ref="spriteSize" />
	</bean>

	<bean id="decorationFactory" class="zamn.creation.board.DecorationFactory">
		<constructor-arg ref="objectMapper" />
		<constructor-arg value="classpath:sprites/decorations.js" />
		<property name="spriteSize" ref="spriteSize" />
	</bean>
</beans>
